@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Tipo de Cambio para hoy</h1>
            <p class="lead">El tipo de cambio de referencia para el dólar americano del <a href="https://www.bccr.fi.cr/seccion-indicadores-economicos/tipos-de-cambio" target="_">Banco Central</a> para hoy @DateTime.Today.Day de @DateTime.Today.ToString("MMMM", new System.Globalization.CultureInfo("es-CR")) del @DateTime.Today.Year es para la venta <strong><span id="sale-rate-bccr"></span></strong> y para la compra es de <strong><span id="buy-rate-bccr"></span></strong></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="card">
            <div class="card-header">
                <a href="">Bac San Jose</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-6">
                        <span class="card-title">575.25</span>
                        <span class="badge badge-success">+1.72 (0.53%)</span>
                    </div>
                </div>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $.getJSON('/home/GetBancoCentral', function (result) {
                $('#sale-rate-bccr').html(result.formattedSaleRate);
                $('#buy-rate-bccr').html(result.formattedBuyRate);

                console.log('Bank: ' + result.bankName + ' Date: ' + result.date + ' Buy: ' + result.buyRate);
            });
            console.log("ready!");
        });
    </script>

}