@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-4">Tipo de Cambio</h2>
            <p class="lead">El tipo de cambio de referencia para el dólar <a href="https://www.bccr.fi.cr/seccion-indicadores-economicos/tipos-de-cambio" target="_">Banco Central</a> para el @DateTime.Today.Day de @DateTime.Today.ToString("MMMM", new System.Globalization.CultureInfo("es-CR")) del @DateTime.Today.Year es el siguiente</p>
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            Compra
                        </td>
                        <td>
                            Venta
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <strong><span id="buy-rate-bccr"></span></strong>
                        </td>
                        <td>
                            <strong><span id="sale-rate-bccr"></span></strong>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>A continuación el tipo de cambio y tendencias para los bancos del sistema nacional</p>
        </div>
    </div>
</div>
<div id="work-area">

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $.getJSON('/home/GetBancoCentral', function (result) {
                $('#sale-rate-bccr').html(result.formattedSaleRate);
                $('#buy-rate-bccr').html(result.formattedBuyRate);

                console.log('Bank: ' + result.bankName + ' Date: ' + result.date + ' Buy: ' + result.buyRate);
            });
            templateEngine.processData();
            //chartEngine.create('chart-1', chartEngine.categoriesSample, chartEngine.buySample, chartEngine.saleSample);
            console.log("ready!");
        });
    </script>

}